.App {
  text-align: center;
}
* {
    margin: 0;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.main-text {
    color:#184EAE;
    padding-bottom: 10px;
    line-height: 2rem;
    letter-spacing: 2px;
}

.read-more {
    padding: 0 !important;
    margin-top: 30px;
}

.main-section {
    height: 95vh;
    position: relative;
}

.about-section {
    height: 100vh;
    background-color: #C7E3FE;
}

.work-section {
    height: 100vh;
    background-color: #a2d2ff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contact-section {
    height: 100vh;
    background-color: #6babf5;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.footer {
    height: 70px;
    background-color: #1c5e9c;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.navbar > .active {
    border-bottom: 3px solid #437FEC;
}


.landing-page-heading {
    font-family: Hamurz;
    color: #4986f8d8;
    font-size: 5rem;
    padding-bottom: 30px;
}

.contact-heading {
    font-family: Hamurz;
    color: #dfe9ff;
    font-size: 4rem;
}

@media(max-width: 500px) {
    .landing-page-heading {
        font-size: 4rem;
    }
    .main-text {
        font-size: 10pt;
        letter-spacing: 1.5px;
    }
}