.App {
  text-align: center;
}
* {
    margin: 0;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.main-text {
    color:#184EAE;
    padding-bottom: 10px;
    line-height: 2rem;
}

.read-more {
    padding: 0 !important;
    margin-top: 40px;
}

.main-section {
    height: 100vh;
    position: relative;
}

.about-section {
    height: 100vh;
    background-color: #C7E3FE;
}

.work-section {
    height: 100vh;
    background-color: #f0efcd;
}

.contact-section {
    height: 100vh;
    background-color: #b3e7d6;
}

.navbar > .active {
    border-bottom: 3px solid #437FEC;
}

.landing-page-heading {
    font-family: Hamurz;
    color: #437FEC;
    font-size: 5rem;
    opacity: 90%;
    padding-bottom: 30px;
}